---
interface Props {
  title: string;
}

const { title } = Astro.props;
---
<section class="mb-10">
  <div class="flex items-center gap-3 mb-6">
     <div class="h-7 w-1.5 bg-[#E6C06D] rounded-full"></div>
     <h2 class="text-2xl font-black uppercase tracking-tight text-gray-900">{title}</h2>
  </div>
  <div class="flex flex-col gap-4">
    <slot />
  </div>
</section>